<div>
    <h2>Informações do CEP</h2>
    <label for="cep">CEP:</label>
    <input class="inputCep" type="text" [(ngModel)]="cep" name="cep" placeholder="Digite o CEP" />
    <button class="botao" (click)="searchCep()">Buscar</button>
  
    <div class="card" *ngIf="cepData">
      <h3>Dados do CEP {{ cepData.cep }}</h3>
      <p>Logradouro: {{ cepData.logradouro }}</p>
      <p>Bairro: {{ cepData.bairro }}</p>
      <p>Cidade: {{ cepData.localidade }}</p>
      <p>Complemento: {{cepData.complemento}}</p>
    </div>
  </div>
  
